.contact_form {
	width: 275px !important;
}

#header_nav {
	margin-bottom: 50px !important;
}

#map_canvas { 	
	display: block;
	margin: 0px 0px 100px 0px;
	width: 535px;
	height: 315px;
	float: left;
	border: 1px #ddd solid;
	border-radius: 3px;
	
	/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa; 
	box-shadow: 0px 0px 4px #aaa;
}

aside h2 {
	font-family: 'Coustard', serif;
	font-size: 20px;
	padding: 0 0 4px 8px;
}

aside {
	width: 540px !important;
}